.squares {
  z-index: -1;
  li {
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    animation-direction: alternate;
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
  }
  to {
    transform: translateY(-800px) rotate(960deg);
  }
}