* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$purple: #7159c1;
$duration: 0.3s;

body {
  height: 100vh;
  font-family: monospace;
  font-size: 16px;
  background-color: $purple;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2rem;
    letter-spacing: 2;
    text-align: center;
    margin: 80px 0 40px 0;

    &::after {
      content: "";
      display: block;
      width: 5rem;
      height: 3px;
      margin: 5px auto;
      color: #fff;
      background-color: #fff;
      opacity: 0.5;
    }
  }

  .wrapper {
    form {
      width: 400px;
      margin: 20px 0;
      background-color: #fff;
      padding: 50px;
      border-radius: 8px;
      animation: fade 200ms;

      .input-block {
        margin-bottom: 15px;
        position: relative;

        &:nth-child(1) {
          animation: move 500ms;
          //animation-delay: 250ms;
          //animation-fill-mode: backwards;
        }

        &:nth-child(2) {
          animation: move 400ms;
          animation-delay: 150ms;
          animation-fill-mode: backwards;
        }
        label {
          color: #333;
          font-size: 0.825rem;
        }

        input {
          width: 100%;
          display: block;
          margin-top: 8px;
          padding: 7px;
          font-size: 1rem;
          color: $purple;
          border-radius: 2px;
          border: none;
          border-bottom: 2px solid #ccddef;
          &[type="password"],
          &[type="email"],
          &[type="text"] {
            padding-left: 24px;
            transition: $duration;

            &:focus {
              padding-left: 28px;
              border-bottom: 1px solid $purple;
            }
          }
        }
      }

      i {
        position: absolute;
        color: $purple;
        top: 60%;
        left: 0;
        font-size: 1rem;
        cursor: pointer;
        transition: $duration;

        &:hover {
          color: $purple;
        }
      }
      .fa-eye {
        transition: $duration;

        &.hide::before {
          content: "\f070";
        }
      }

      a {
        font-size: 0.7rem;
        color: $purple;
        text-align: right;
        width: 100%;
        display: block;
        text-decoration: none;
        transition: $duration;
        animation: move 500ms;
        animation-delay: 250ms;
        animation-fill-mode: backwards;

        &:hover {
          font-weight: bold;
        }

      }
      .btn-login {
        display: block;
        margin: 0 auto;
        background-color: $purple;
        border-radius: 10px;
        padding: 8px 24px;
        border: none;
        color: #fff;
        cursor: pointer;
        margin-top: 24px;
        min-width: 130px;
        transition: $duration;
        font-weight: bold;
        animation: move 500ms;
        animation-delay: 250ms;
        animation-fill-mode: backwards;

        &:hover {
          background-color: #fff;
          color: $purple;
        }
      }
    }
  }
}

.input-block {
  margin-bottom: 15px;
}

@import 'form-hide';
@import 'move';
@import 'fade';