.hide {
  animation: down 1.2s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}
